*{
    box-sizing: content-box;
}
html, body{
    margin: 0 auto;
    padding: 0 auto;
}
.green{
    color: darkgreen;
    font-size: 45px;
}
header{
    font-family: Georgia;
    text-align: center;
    font-size: 25px;
}
p{
    line-height: 30px;
    text-align: left;
    padding: 10px auto;
    font-size: 22px;
    margin-left: 25px;
    margin-right: 300px;
}
.pic{
    float: left;
    margin-right: 20px;
    margin-left: 300px;
}
img{
    width: 350px;
    height: 360px;
}
.in, a{
    margin: auto 250px;
}
.upper{
text-transform: uppercase;
text-emphasis: bolder;
font-size: 22px;
margin-bottom: 20px;
}
a{
    text-decoration: none;
    margin-top: 10px;
    line-height: 30px;
    font-size: 22px;
}
a:hover{
    text-decoration: underline;
    color: magenta;
}
li{
    font-size: 22px;
    line-height: 30px;
}