*{
    box-sizing: border-box;
    text-align: center;
}
.compound{
    width: 60%;
    margin: 0 auto;
    padding: auto;
}
.blue{
    background-color: blue;
    width: 15%;
    height: 250px;
    display: inline-block;
}
.white{
    background-color: white;
    width: 15%;
    height: 250px;
    display: inline-block;
}
.red{
    background-color: red;
    width: 15%;
    height: 250px;
    display: inline-block;
}
.space{
    margin: 30px;
}
.black{
    background-color: black;
    width: 47%;
    height: 80px;
    margin: auto;
}
.gRed{
    background-color: red;
    width: 47%;
    height: 80px;
    margin: auto
}
.gYellow{
    background-color: rgb(255, 217, 0);
    width: 47%;
    height: 80px;
    margin: auto;
}
.mWhite{
    background-color: navajowhite;
    width: 10%;
    height: 300px;
    float: left;
}
.mRed{
    background-color: red;
    width: 37%;
    height: 80px;
    display: inline-block;
    margin: auto;
}
.mGreen{
    background-color: green;
    width: 37%;
    height: 80x;
    display: inline-block;
    margin: auto;
}